<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.MemberMapper">
	<select id="isMember" resultType="int">
		select
			count(*)
		from
			tbl_member
		where
			userid = #{userid} and userpw = #{userpw}
	</select>
	
	<insert id="join">
		insert into tbl_member
			(userid, userpw, name, email)
		values
			<if test="email != ''">
				(#{userid}, #{userpw}, #{name}, #{email})
			</if>
			<if test="email == ''">
				(#{userid}, #{userpw}, #{name}, null)
			</if>
	</insert>
	
	<select id="existUserId" resultType="int">
		select
			count(*)
		from
			tbl_member
		where
			userid = #{userid}
	</select>
</mapper>